# Temporary files
*~
*#

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# g-code files
*.ngc

# Executables
*.exe
*.out
*.app

# Python
*.py[cod]