[DAEMON]
pid_file=/var/run/drawbot.pid
log_file=/var/log/drawbot/drawbot.log

[LINUXCNC]
host=localhost
port=5007
password=EMC

[PATHS]
draw=/usr/share/drawbot/gcode/draw
erase=/usr/share/drawbot/gcode/erase

[LINUXCNC]
lock_file=/tmp/linuxcnc.lock
ini=/usr/share/drawbot/kinematics/Drawbot4Axis/Drawbot4Axis.ini
hal_file=/usr/share/drawbot/kinematics/Drawbot4Axis/custom.hal
